$themeOrange: #F1741F;
$themeBlack: #25333C;
$themeTeal: teal;

.following-menu.ui.large.top.fixed.hidden.menu {
  display: none;
}

.footer.segment {
  padding: 5em 0em;
}

.copyright.footer{
  margin-top: 25px;
  float: left;
}

.power.footer{
  margin-left: 400px;
  margin-bottom: 15px;
  float: right;
}

.nav.ui.container{
  width: 100%;

  i, a {
    color: $themeBlack;
  }

  .topnavbarwhite.right.item {
    .ui.button {
      color: #themeBlack;
      border: 1px solid $themeOrange;
      background-color: white;
      margin-left: 10px;
    }
  }

  a.rocket.item{
    color: black !important;
  }
}

i.big.sidebar.icon {
  margin-top: 10px;
  margin-left: 40px;
}

/* Home page CSS */

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
  background-image: url('/testingsite/public/images/home1.jpg');

  .ui.menu .ui.button {
    margin-left: 0.5em;
  }

  h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.7em;
    font-weight: normal;
	}
}

.home-search {
	width: 80%;
}

.home-buttons {
	margin: auto !important;

	.four.wide.column {
		padding: 50px;
		margin: 100px;
		background-color: teal;
		color: white;
		text-align: center !important;
    font-size: 1.7em;
	}
}

/* new jobs CSS */
.register-user-form {
  margin: 60px;

  .ui.dividing.header {
    font-size: 35px;
    padding-bottom: 30px;
    margin-top: -20px;
    color: $themeOrange;
  }

  div.field {
    label {
      color: $themeBlack !important;
    }
  }

  .add-job-button {
    background-color: white;
    border: 1px solid $themeOrange;
  }
}
.home.ui.container{
  height: auto;
  width: auto;
  margin-top: 200px;
}


.tagline.ui.container{
  height: 50px;
  width: 50%;
  text-align: center;
  color: black;

  h1 {
    background-color: white;
    opacity: 0.9;
  }
}



/* user job search */
.user-job-search.ui.stackable.cards.centered.grid.container {
  .ui.card.five.wide.column {
    margin-top: 20px;
    padding: 0px;

    .content.header {
      background-color: $themeOrange;
      .header{
        color: white;
      }
    }
  }
}

/* User home page css */
.user-home {
  margin-top: 20px !important;
  margin-bottom: 20px !important;

  .ui.card {
    margin-top: 20px;
  }
}

.homeone.ui.vertical.segment{
  width:100% !important;
  height:100% !important;
  background-image: url('/testingsite/public/images/home1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hometwo.ui.vertical.segment{
  width:100% !important;
  height:100% !important;
  background-image: url('/testingsite/public/images/home2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-home.ui.icon.input.container {
  input {
    width: 100%;
  }
}

/* employee home page css */
.employee-home, .applicants.ui.container.centered.grid {
  margin-top: 20px !important;
  margin-bottom: 20px !important;

  h1, h4 {
    color: $themeOrange;
  }

  .ui.card.five.wide.column {
    margin-top: 20px;
    padding: 0px;

    .content.header {
      background-color: $themeOrange;
      .header {
        color: white;
      }
    }
  }
}

.employee-home.ui.icon.input.container {
  input {
    width: 100%;
  }
}

/* Applicants css */

/*employee login css*/
.employee.ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 150px !important;
    margin-bottom: 100px !important;
  }

.employee.ui.vertical.segment{
  width:100% !important;
  height:100% !important;
  background-image: url('/testingsite/public/images/login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.eprofile.ui.container{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #25333C;
}

.ui.centered.card{
  width:500px;
  height: 800px;
}

.centered.image{
  height: 150px;
  width: 150px;
  margin-left: 175px;
  margin-top: 25px;
  margin-bottom: 25px;
}
