.following-menu.ui.large.top.fixed.hidden.menu {
  display: none;
}

.footer.segment {
  padding: 5em 0em;
}

i.big.sidebar.icon {
  margin-top: 10px;
  margin-left: 40px;
}

/* Home page CSS */

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
  background-image: url('/resources/assets/images/home1.jpg');

  .ui.menu .ui.button {
    margin-left: 0.5em;
  }

  h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.7em;
    font-weight: normal;
	}
}

.nav.fixed.ui.container{
  width: 100%;
}

.home-search {
	width: 80%;
}

.home-buttons {
	margin: auto !important;

	.four.wide.column {
		padding: 50px;
		margin: 20px;
		background-color: teal;
		color: white;
		text-align: center !important;
	}
}

/* Register User page CSS */
.register-form-title {
  h1 {
    margin-top: 30px !important;
    font-size: 50px;
    text-align: center;
  }
}

.register-user-form {
  margin: 50px;
}

/* User home page css */
.user-home {
  margin-top: 20px !important;
  margin-bottom: 20px !important;

  .ui.card {
    margin-top: 20px;
  }
}

.user-home.ui.icon.input.container {
  input {
    width: 100%;
  }
}

/*employee login css*/
.employee.ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 150px !important;
    margin-bottom: 100px !important;
  }
.employee.ui.vertical.segment{
  width:100% !important;
  height:100% !important;
  background-image: url('/testingsite/resources/assets/images/login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


